*{
    margin: 0;
    padding: 0;
}

html {
    background-color: antiquewhite;
}

.header {
    background-color: rgba(220, 20, 60, 0.866);
    padding: 10px;
   
}
.header h1 {  
  font-size: large;
  color: rgba(255, 255, 255, 0.99);
  margin-left: 45%;
}

.links a {
    padding-left: 10%;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    color: coral;   
}

.titulo-1-body {
    font-size: small;
    margin-left: 41%;
    color: brown;
    margin-top: 10%;
    margin-bottom: 20px;
}

.form {
    margin-left: 41%; 
}